<header>
  <!-- begin navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      
      <!-- Brand -->
     

      <!-- Mobile toggle -->
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">

          <!-- Home -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>

          <!-- About -->
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>

          <!-- Classes Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="classesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Classes
            </a>
            <ul class="dropdown-menu" aria-labelledby="classesDropdown">
              <li><a class="dropdown-item" href="strength-training.html">Strength Training</a></li>
              <li><a class="dropdown-item" href="hiit.html">HIIT & Conditioning</a></li>
              <li><a class="dropdown-item" href="glute-focused.html">Glute Focus</a></li>
              <li><a class="dropdown-item" href="nutrition-coaching.html">Nutrition Coaching</a></li>
            </ul>
          </li>

          <!-- Locations -->
          <li class="nav-item">
            <a class="nav-link" href="locations.html">Locations</a>
          </li>

          <!-- Membership -->
          <li class="nav-item">
            <a class="nav-link" href="membership.html">Membership</a>
          </li>

          <!-- Contact -->
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>

          <!-- Call to Action -->
          <li class="nav-item">
            <a class="nav-link btn btn-primary text-white ms-lg-3 px-3" href="join.html">
              Join Now
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->
</header>